Node-Red/flows.json
[
    {
        "id": "254b5c28.c52584",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6adecb51.2758a4",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "66b76ac3.3b1104",
        "type": "ui_tab",
        "z": "",
        "name": "Home Page",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5fd975a1.c7c9cc",
        "type": "ui_group",
        "z": "",
        "name": "Life Expectancy Prediction",
        "tab": "a3d165b2.e31168",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a3d165b2.e31168",
        "type": "ui_tab",
        "z": "",
        "name": "Home Page",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "310aed9a.d3fc52",
        "type": "ui_form",
        "z": "254b5c28.c52584",
        "name": "",
        "label": "",
        "group": "5fd975a1.c7c9cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Country",
                "value": "a",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Year",
                "value": "b",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Status",
                "value": "c",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "BMI",
                "value": "d",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Adult_Mortality",
                "value": "e",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Infant_Deaths",
                "value": "f",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Alcohol",
                "value": "g",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Percentage_Expenditure",
                "value": "h",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Hepatitis_B",
                "value": "i",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Under_Five_Deaths",
                "value": "j",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Polio",
                "value": "k",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Total_Expenditure",
                "value": "l",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Diphtheria",
                "value": "m",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "HIV/AIDS",
                "value": "n",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "GDP",
                "value": "o",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Population",
                "value": "p",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Thinness_10_19_years",
                "value": "q",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Thinness_5_9_years",
                "value": "r",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Income_Composition_of_Resources",
                "value": "s",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Schooling",
                "value": "t",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Measles",
                "value": "u",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "a": "",
            "b": "",
            "c": "",
            "d": "",
            "e": "",
            "f": "",
            "g": "",
            "h": "",
            "i": "",
            "j": "",
            "k": "",
            "l": "",
            "m": "",
            "n": "",
            "o": "",
            "p": "",
            "q": "",
            "r": "",
            "s": "",
            "t": "",
            "u": ""
        },
        "payload": "",
        "submit": "Predict",
        "cancel": "Cancel",
        "topic": "",
        "x": 154.00001525878906,
        "y": 501.00000762939453,
        "wires": [
            [
                "ac3c3c7e.23be2"
            ]
        ]
    },
    {
        "id": "ac3c3c7e.23be2",
        "type": "function",
        "z": "254b5c28.c52584",
        "name": "pre token",
        "func": "//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"ein0dLtA3GvhDOX6w0xbdM6A8niBiwsWcjvgP5nhlhCm\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 498.00000762939453,
        "y": 505.00000762939453,
        "wires": [
            [
                "6192a6bd.bcf478"
            ]
        ]
    },
    {
        "id": "48a0f3ab.e438fc",
        "type": "http request",
        "z": "254b5c28.c52584",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/bfcef6f2-d531-42d8-9977-4d790a2a145c/deployments/3752ce82-a940-421e-8131-89e2e4e6fed9/online",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 254.00003051757812,
        "y": 87.00000762939453,
        "wires": [
            [
                "23140d8d.7b2452"
            ]
        ]
    },
    {
        "id": "23140d8d.7b2452",
        "type": "function",
        "z": "254b5c28.c52584",
        "name": "getFrom Endpoint",
        "func": "msg.payload=msg.payload.values[0][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 538.0000076293945,
        "y": 86.00000762939453,
        "wires": [
            [
                "4eca0999.2c82e8"
            ]
        ]
    },
    {
        "id": "e3654838.2fabd8",
        "type": "function",
        "z": "254b5c28.c52584",
        "name": "sendTo Endpoint",
        "func": "//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"bfcef6f2-d531-42d8-9977-4d790a2a145c\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Country\", \"Year\", \"Status\", \n\"BMI\", \"Adult_Mortality\", \"Infant_Deaths\", \"Alcohol\", \"Percentage_Expenditure\", \"Hepatitis_B\", \"Under_Five_Deaths\", \"Polio\", \"Total_Expenditure\", \"Diphtheria\", \"HIV/AIDS\", \"GDP\",\"Population\", \"Thinness_10_19_years\", \"Thinness_5_9_years\",\n \"Income_Composition_of_Resources\", \"Schooling\", \"Measles\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 536.0000076293945,
        "y": 303.0000057220459,
        "wires": [
            [
                "48a0f3ab.e438fc"
            ]
        ]
    },
    {
        "id": "6192a6bd.bcf478",
        "type": "http request",
        "z": "254b5c28.c52584",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 799.0000076293945,
        "y": 506.00000762939453,
        "wires": [
            [
                "e3654838.2fabd8"
            ]
        ]
    },
    {
        "id": "4eca0999.2c82e8",
        "type": "ui_text",
        "z": "254b5c28.c52584",
        "group": "5fd975a1.c7c9cc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Prediction",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 814.0000610351562,
        "y": 87.00005626678467,
        "wires": []
    }
]